.photo-grid{
    background-color: white ;
    border: 3px solid rgb(119, 99, 73);
    margin: 1em auto;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
}
.photo-grid li{
    display: inline-block;
    margin: 0.2em;
    width: 250px;
}
.photo-grid li:hover figcaption{
    opacity: 1;
}
.photo-grid li:hover figcaption p{
   
    transform: translateY(40px);
}
.photo-grid li:hover img{
    transform: scale(1.4);
}
.photo-grid figure img{
    transition: all 300ms;
    display: block;
    height: 100%;
    max-width: 100%;

}
.photo-grid figure{
    border-radius: 7px;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 250px;
    margin: 0;
}
.photo-grid figcaption{
    transition: all 300ms;
    transition-delay: 100ms;
    background: rgba(0, 0, 0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.photo-grid figcaption p{
    transition: all 300ms ease-out;
    display: table-cell;
    font-size: 1.5rem;
    position: relative;
    top: -40px;
    width: 250px;
    vertical-align: middle ;
}